{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "bracketSpacing": false,
  "max-len": ["error", 
  {
    "code": 140,
    "tabWidth": 2,
    "ignoreComments": true,
    "ignoreUrls": true,
    "ignoreStrings": true,
    "ignoreTemplateLiterals": true
  }
],
  "tabWidth": 2,
  "semi": false
}
