
@font-face {
    font-family: 'Icons';
    src: url('icons.woff2?=2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('material.woff2') format('woff2');
  }
  
